:root {
  --jet: #333;
  --white: #f0ebe3;
  --teal: #2a3d45;
  --rose-dark: #6b4f4f;
  --rose-light: #a26769;
  --green: #68a378;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 64.5%;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  background-color: var(--white);
  color: var(--jet);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0.5rem;
  color: var(--rose-dark);
  border-bottom: 1px solid var(--rose-dark);
}

header input {
  border-radius: 4px;
  border: 1px solid var(--rose-dark);
  padding: 4px;
}

header input:focus {
  outline: 2px solid var(--green);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header button {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--rose-light);
  cursor: pointer;
  transition: 0.2s all ease, 0s outline;
}

header button:hover {
  background-color: #d8c0c1;
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header button:active {
  transform: translateY(1px);
  background-color: #c19a9b;
}

header button:focus {
  outline: 2px solid var(--green);
}

header button img {
  height: 70%;
}

.form--search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
}

.form--search div {
  display: flex;
  gap: 10px;
}

.section-picker--cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  max-width: 850px;
  align-self: center;
}

h2 {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 20px;
  font-size: 2rem;
}

.what--btn {
  align-self: center;
  margin-bottom: 80px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--rose-dark);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--rose-dark);
  transition: 0.2s all ease, 0s outline;
}

.what--btn:active {
  transform: scale(0.9);
}

.what--btn:hover {
  background-color: #d8c0c1;
}

.what--btn:focus {
  background-color: var(--green);
  color: var(--white);
  outline: 2px solid var(--green);
  border-color: var(--white);
}

.section--card {
  background-color: var(--rose-light);
  height: 200px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.2s all ease, 0s outline, 0s border;
  border: none;
  opacity: 0.9;
}

.section--card:hover i,
.section--card:hover h3 {
  transform: scale(1.1);
  opacity: 1;
  text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.1);
}

.section--card:hover i {
  text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.2);
}

.section--card:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.section--card:active {
  background-color: var(--rose-dark);
  transform: scale(1);
}

.section--card:focus {
  border: 1px solid var(--white);
  outline: 3px solid var(--green);
}

i {
  font-size: 75px;
  color: var(--white);
  transition: 0.2s all ease;
}

h3 {
  color: var(--white);
  transition: 0.2s all ease;
}

@media (min-width: 768px) {
  html {
    font-size: 74.5%;
  }

  .form--search button {
    width: 33px;
    height: 33px;
  }

  header {
    justify-content: center;
  }

  h2 {
    font-size: 2.5rem;
    padding: 0 1rem;
    margin: 60px 0 30px 0;
  }

  .what--btn {
    font-size: 1.5rem;
  }

  .section--card {
    height: 240px;
  }

  .section--card i {
    font-size: 100px;
  }

  .section--card h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 84.5%;
  }

  .form--search button {
    width: 36.3px;
    height: 36.3px;
  }

  h2 {
    margin: 90px 0 50px 0;
  }

  .what--btn {
    margin-bottom: 120px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }

  .form--search button {
    width: 39.9px;
    height: 39.9px;
  }
}
